---
---

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* THIS is the actual wrapper that matters */
#main {
  flex: 1;
}

/* push footer down */
.page__footer {
  margin-top: auto;
}
